.nextflow*
work/
data
results/
results**/
.DS_Store
testing/
testing*
*.pyc
null/
.lineage/
reports/*
!reports/.gitkeep
superpowers/
pytest*
__init__.py
__pycache__*
.pytest_cache/

*.vcf
*.gz
*.tab
*.txt
venv/
.claude/
.Rproj.user
.playwright-mcp
*history.md
reports/