// Create profiles to easily switch between the different process executors and platforms.

profiles {
    //For running with hyperqueue job scheduler and docker  
    hyperqueue {
        docker { 
            enabled = true
            runOptions = '-u $(id -u):$(id -g) --group-add 142 --group-add 135' 
        }
        process {
            executor = 'hq'
            withLabel: 'high_priority' { 
                 clusterOptions = '--priority=5'
            }
            withLabel: 'med_priority' { 
                 clusterOptions = '--priority=3'
            }
            withLabel: 'low_priority' { 
                 clusterOptions = '--priority=-5'
            }
        }
    }
}

// To use this in a remote nextflow pipeline 
// Step 1. copy the config to your own directory
// cp /bioinformatics_resources/hyperqueue.nextflow.config /PATH/WHERE/NEXTFLOW/PIPELINE/RUNS
// Step 2. run the pipeline with the addition of this custom config and set profile param to 'hyperqueue'
// nextflow -c /PATH/WHERE/NEXTFLOW/PIPELINE/RUNS/hyperqueue.nextflow.config run Meshinch-Lab/rnafusion -r dev -profile hyperqueue

